WiMM-Invoice-JAXWS/WebContent/wsdl/AddInvoiceResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:msg="http://www.example.org/messages" xmlns:s="http://www.example.org/businessSchemas" elementFormDefault="qualified" targetNamespace="http://www.example.org/messages">    
    <!-- Define our response type -->
    <complexType name="AddInvoiceResponseType">
        <sequence>
            <element name="status" type="string"/>
        </sequence>
    </complexType>
    <!-- Define a response element we can use in the WSDL -->
    <element name="addInvoiceResponse" type="msg:AddInvoiceResponseType"/>
</schema>
