WiMM-Invoice-JAXWS/WebContent/wsdl/GetInvoiceUnderPriceRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:msg="http://www.example.org/messages" xmlns:s="http://www.example.org/businessSchemas" elementFormDefault="qualified" targetNamespace="http://www.example.org/messages">    
    <!-- Define our request type -->
    <complexType name="GetInvoiceUnderPriceRequestType">
        <sequence>
            <element name="price" type="integer"/>
        </sequence>
    </complexType>
    <!-- Define a request element we can use in the WSDL -->
    <element name="getInvoiceUnderPriceRequest" type="msg:GetInvoiceUnderPriceRequestType"/>
</schema>
