WiMM-Invoice-JAXWS/WebContent/wsdl/InvoiceEntity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.org/businessSchemas">
    <!-- Type definition -->
    <complexType name="InvoiceEntityType">
        <sequence>
            <element name="barcode" type="string"/>
            <element name="price" type="decimal"/>
        </sequence>
    </complexType>
</schema>
