WiMM-Invoice-JAXWS/WebContent/wsdl/InvoiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InvoiceService" targetNamespace="http://www.example.org/InvoiceService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.example.org/messages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:fri="http://www.example.org/InvoiceService/">
  <wsdl:types>
    <xsd:schema>
            <xsd:import namespace="http://www.example.org/messages" schemaLocation="AddInvoiceRequest.xsd"/>
            <xsd:import namespace="http://www.example.org/messages" schemaLocation="AddInvoiceResponse.xsd"/>
            <xsd:import namespace="http://www.example.org/messages" schemaLocation="AddInvoiceFault.xsd"/>
            <xsd:import namespace="http://www.example.org/messages" schemaLocation="DeleteInvoiceRequest.xsd"/>
            <xsd:import namespace="http://www.example.org/messages" schemaLocation="DeleteInvoiceResponse.xsd"/>
            <xsd:import namespace="http://www.example.org/messages" schemaLocation="DeleteInvoiceFault.xsd"/>
            <xsd:import namespace="http://www.example.org/messages" schemaLocation="GetInvoiceUnderPriceRequest.xsd"/>
            <xsd:import namespace="http://www.example.org/messages" schemaLocation="GetInvoiceUnderPriceResponse.xsd"/>
            <xsd:import namespace="http://www.example.org/messages" schemaLocation="GetInvoiceUnderPriceFault.xsd"/>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getInvoiceUnderPriceRequest">
    <wsdl:part name="getInvoiceUnderPriceInput" element="xsd1:getInvoiceUnderPriceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInvoiceUnderPriceResponse">
    <wsdl:part name="getInvoiceUnderPriceOutput" element="xsd1:getInvoiceUnderPriceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteInvoiceRequest">
    <wsdl:part name="deleteInvoiceInput" element="xsd1:deleteInvoiceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addInvoiceRequest">
    <wsdl:part name="addInvoiceInput" element="xsd1:addInvoiceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addInvoiceFault">
    <wsdl:part name="addInvoiceFault" element="xsd1:addInvoiceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInvoiceUnderPriceFault">
    <wsdl:part name="getInvoiceUnderPriceFault" element="xsd1:getInvoiceUnderPriceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteInvoiceFault">
    <wsdl:part name="deleteInvoiceFault" element="xsd1:deleteInvoiceFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteInvoiceResponse">
    <wsdl:part name="deleteInvoiceOutput" element="xsd1:deleteInvoiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addInvoiceResponse">
    <wsdl:part name="addInvoiceOutput" element="xsd1:addInvoiceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InvoiceService">
    <wsdl:operation name="addInvoice">
      <wsdl:input message="fri:addInvoiceRequest">
    </wsdl:input>
      <wsdl:output message="fri:addInvoiceResponse">
    </wsdl:output>
      <wsdl:fault name="fault" message="fri:addInvoiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteInvoice">
      <wsdl:input message="fri:deleteInvoiceRequest">
    </wsdl:input>
      <wsdl:output message="fri:deleteInvoiceResponse">
    </wsdl:output>
      <wsdl:fault name="fault" message="fri:deleteInvoiceFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInvoiceUnderPrice">
      <wsdl:input message="fri:getInvoiceUnderPriceRequest">
    </wsdl:input>
      <wsdl:output message="fri:getInvoiceUnderPriceResponse">
    </wsdl:output>
      <wsdl:fault name="fault" message="fri:getInvoiceUnderPriceFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvoiceServiceSOAP" type="fri:InvoiceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addInvoice">
      <soap:operation soapAction="http://www.example.org/InvoiceService/addInvoice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteInvoice">
      <soap:operation soapAction="http://www.example.org/InvoiceService/deleteInvoice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvoiceUnderPrice">
      <soap:operation soapAction="http://www.example.org/InvoiceService/getInvoiceUnderPrice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoiceService">
    <wsdl:port name="InvoiceServiceSOAP" binding="fri:InvoiceServiceSOAP">
      <soap:address location="http://localhost:8080/WiMM-Invoice-JAXWS/services/InvoiceServiceSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
