WiMM-Invoice-JAXWS/WebContent/wsdl/InvoiceFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.org/businessSchemas">
    <!-- Type definition -->
    <complexType name="InvoiceFaultType">
        <sequence>
            <element name="code" type="string"/>
            <element name="description" type="string"/>
        </sequence>
    </complexType>
</schema>
